{{ partial "header.html" . }}

{{if .Site.Params.cover}}
<header class="main-header " style="background-image: url({{.Site.BaseURL}}{{.Site.Params.cover}})">
{{else}}
<header class="main-header no-cover">
{{end}}
    
    <nav class="main-nav overlay clearfix">
      <a class="blog-logo" href="{{.Site.BaseURL}}"><span class="icon-home" style="color:white;font-size:1.8em"></span>
      <a class="blog-logo" href="https://github.com/{{ .Site.Params.githubName }}"><span class="icon-github" style="color:white;font-size:1.2m"></span>
      <a class="blog-logo" href="https://twitter.com/{{ .Site.Params.twitterName }}"><span class="icon-twitter" style="color:white;font-size:1.2em"></span>
      <a class="blog-logo" href="https://linkedin.com/in/{{ .Site.Params.twitterName }}"><span class="icon-linkedin" style="color:white;font-size:1.2em"></span>
</a>
        {{ if .Site.Menus.main }}
            <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
        {{else}}
            {{ if .Site.Params.RSSLink}}
              <a class="menu-button icon-feed" href="{{.Site.Params.RSSLink }}">&nbsp;&nbsp;Subscribe</a>
            {{else}}
            <!--<a class="menu-button" href="/resume">Resume</a>-->
              <a class="menu-button" href="/contact">Contact</a>
              <a class="menu-button" href="/resume">Resume</a>
              <a class="menu-button" href="/about">About</a>
            {{end}}
        {{end}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <!--<h1 class="page-title">{{ .Site.Title }}</h1>-->
            <h1 class="page-title">Howdy!</h1>
            <h2 class="page-description">{{ .Site.Params.description }}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    {{ $paginator := .Paginate (where .Data.Pages "Section" "post") }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>

    {{ range $index, $page := $paginator.Pages }}
        {{ .Render "li" }}
    {{ end }}

    {{ partial "pagination.html" $paginator }}

</main>

{{ partial "footer.html" . }}
